/*Here is on responsive CSS */

@media (max-width:500px) {
    footer{
        width: 100%;
        padding-left:10%;
    }
    .main1{
        display: block;
        overflow-x: hidden;
    }
   

    .main2{
        display: grid;
         
    }
}

    


     
 