/*Here is on responsive CSS */

@media (max-width:500px) {
    footer{
        width: 100%;
        padding-left:10%;
    }
    .main1{
        display: block;
    }
   
    .main2 div{
     flex-direction: column;
    }
}

    


     
 